.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore exploratory code
explore

# Ignore actual data
data/shared
data/joint_cortex
data/joint_pons
data/joint_cortex_extended
data/joint_pons_extended
shiny_bookmarks
data/ct_e10
data/ct_e12
data/ct_e12_not_needed
data/ct_e13
data/ct_e15
data/ct_e16
data/ct_e18
data/ct_p0
data/ct_p3
data/ct_p6
data/po_e10
data/po_e12
data/po_e13
data/po_e15
data/po_e16
data/po_e18
data/po_p0
data/po_p3
data/po_p6

data/rsync_script.txt
data/ID_20190715_dendrogram_order.rda


