# Exclude files produced by R
.Rproj.user
.Rhistory
.RData
.Ruserdata

README.html

# Exclude cache
*/cache/*

# Exclude any data
data/*.RData
data/*.Rda
data/*.Rds
data/*.tsv
data/*.feather

data/*/*.RData
data/*/*.Rda
data/*/*.Rds
data/*/*.tsv
data/*/*.feather

# Exclude illustrator files
*/img/*.ai

# Exclude a toy app used for debugging purposes
debug-app

# Exclude R script used for testing
test.R
