@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

body {
  margin: 20;
  font-family: 'Open Sans', sans-serif;
}

pre, tt, code, .code, #detail {
  font-family: 'Source Code Pro', monospace;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 18%;
  min-width: 77px;
  float: left;
}


.block-container {
  width: 736px;
  text-align: center;
  position: relative;
  margin: auto;
}

/* Navbar */
.navbar {
  width: 50%;
  float: right;
  overflow: hidden;
  background-color: white;
  margin-right: 40px;
  font-family: 'Open Sans';
  display: inline-block;
}

.navbar a {
  float: right;
  color: #8896AE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar .active {
  background-color: white;
  color: #8896AE;
  border-bottom: 3px solid #8896AE;
}


/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 40px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #8896AE;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: #8896AE;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #8896AE;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
  color: #8896AE;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Cards */


.modules {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 17px;
}

/* Center last card if there is an odd # of them */
.card:last-of-type:nth-child(odd) {
  margin-left: auto;
  margin-right: auto;
}

.modules {
  padding-left: 17px;
}


.card {
  width: 320px;
  height: 250px;
  margin: 15px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #eaeaea;
  background-color: rgba(245, 245, 245, 1);
}

.card img {
  width: 200px;
  text-align: center;
}

.card p {
  width: 90%;
  padding-left: 5%;
}

.card p:first-of-type {
  margin-top: 5px;
  margin-bottom: 10px;
}

.card p .module-name {
  margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
