<!DOCTYPE html>

<div class="logo">
  <div class="container">
    <div style="text-align: left;">
      <IMG HEIGHT="100" WIDTH="450" SRC="braindex.png" ALT="braindex: brain developmental expression portal">
    </div>
  </div>
</div>


<div class="navbar">

<!--
  <div class="dropdown">
    <button class="dropbtn">Modules
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/braindex/lifespan">Lifespan</a>
      <a href="/braindex/clusters">Clusters</a>
    </div>
  </div>
-->

  <a href="/braindex">Home</a>

</div>